.tass-customer.tass-page__customer
  .tass-s_container.tass-customer__container
    img.tass-customer__pattern(
      src='img/tass-pattern-1.svg',
      width='919',
      height='901',
      role='presentation',
      alt='Узор',
    )
    picture.tass-customer__image-wrapper
      img.tass-customer__image(
        src='img/tass-customer__image.png',
        alt='Девушка',
      )
    p.tass-s_description.tass-customer__description Рамзан Ахматович Кадыров принимал наши проекты :)
