.tass-design.tass-page__design
  .tass-s_container.tass-design__container
    p.tass-s_description(class=[
      'tass-design__description',
      'tass-design__description--top',
    ]) Дизайн проекта отрисовывался в стиле ЛайнАрт (от руки), что позволило подчеркнуть индивидуальность#[br]ландшафта и самого события.
    .tass-design__illustration
      picture(class=[
        'tass-design__image-wrapper',
        'tass-design__image-wrapper--flow-1',
      ])
        img.tass-design__image(
          src='img/tass-design__image--flow-1.png',
          alt='Наброски',
        )
      p.tass-s_description(class=[
        'tass-design__description',
        'tass-design__description--middle',
      ]) Создание уникальных иллюстраций посвященных культурному наследию
      img(
        class=['tass-design__pattern', 'tass-design__pattern--1'],
        src='img/tass-pattern-1.svg',
        alt='Узор',
        width='450',
        height='442',
        role='presentation',
      )
      img(
        class=['tass-design__pattern', 'tass-design__pattern--2'],
        src='img/tass-pattern-2.svg',
        alt='Узор',
        width='500',
        height='507',
        role='presentation',
      )
    picture(class=[
      'tass-design__image-wrapper',
      'tass-design__image-wrapper--flow-2',
    ])
      img.tass-design__image(
        src='img/tass-design__image--flow-2.png',
        alt='Пример блока сайта',
      )
    p.tass-s_description(class=[
      'tass-design__description',
      'tass-design__description--bottom',
    ]) Сайт очень понравился организаторам мероприятия и руководству#[br]Чеченской республики.
    picture(class=[
      'tass-design__image-wrapper',
      'tass-design__image-wrapper--flow-3',
    ])
      img.tass-design__image(
        src='img/tass-design__image--flow-3.png',
        alt='Музыкальные инструменты',
      )
    picture(class=[
      'tass-design__image-wrapper',
      'tass-design__image-wrapper--long',
    ])
      img.tass-design__image(
        src='img/tass-design__image-long.jpg',
        alt='Примеры страниц',
      )
